body {
	width: 100%;
	height: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 450% 450%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.githublogo{
  float: left;
  width: 30%;
	height: 200px;
}

.Topheader{
	width: 60%;
	margin: 0 auto;
	height: 200px;
	opacity: 0.75;
  text-shadow: 12px 8px 4.8px blue;
}


.basic.button.changeColor:hover{
	filter: hue-rotate(1080deg) !important;
  transition: 1.2s !important;
	background-color: #b78da5 !important;
}

.margin{
	margin: 1% 1% 1% 1%;
}

.middle{
	clear: both;
	background-color: white;
	border-radius: 0.25%;
	padding: 1%;
	margin: 1%;
}

.bodycontent{
	clear: both;
	background-color: white;
	border-radius: 0.65%;
	padding: 1%;
	margin: 1%;
	height: 468px;
}
.half{
	float: left;
	width:48.5%;
	height: 450px;
	background-color: white;
	border: 1px solid #c093c4;
	overflow-x: hidden;
}

.black{
	padding-top: 5px;
	color:black;
	font-size: 1.5em;
}

.small.card.greyBackground:hover{
	cursor: pointer !important;
	color: red !important;
	background-color: #c6b9b3 !important;
	border: 3px solid black !important;
	filter: hue-rotate(1080) !important;
	transition: 100ms !important;
}

.small.card.selected {
	color: red !important;
	background-color: #c6b9b3 !important;
	border: 3px solid black !important;
}
#footer{
		clear: both;
    width: 100%;
    text-align: center;
		margin-top: 50px;
		margin-bottom: 20px;
}

.center{
	text-align: center;
	margin-top: 15px;
}

.half.container{
  background: #e1e9ef;
	padding-left: 1%;
	margin-left: 5px;
  box-shadow: 1px 1px 1px #888888;
  position: relative;
	overflow-x: hidden;
}

#x{
    position: absolute;
    background: springgreen;
    color: white;
    left: 2px;
}
#x:hover{
	cursor: pointer;
	top:3px;
	left: 3px;
	background: red;
	filter: hue-rotate(1080);
	transition: 1s;
}

.pageNum{
		color: black;
		margin-left: 3px;
		margin-right: 3px;
		padding-left:1px;
		padding-right: 1px;
}

.searchform{
  margin: 0 auto;
  width: 80%;
  padding: 1%;
  background-color: #fff;
  border: 4px solid #c6b9b3;
	color:black;

}

label {
  margin-bottom: 1%;
  margin-top: 1px;
	width: 24%;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
}


input{
  margin-bottom: 1px;
	width: 100%;
  border: 1px solid #40495b;
  padding: 5px;
}

span.backToMainList{
	display: inline-block;
	width: 48%;
	border: 1px solid #40495b;
	text-align: center;
	margin-left: 1%;
	padding: 2px;
}

input.searchbutton{
	width:48%;
	border: 1px solid #40495b;
	display: inline-block;
	text-align: center;
	margin-right: 1%;
	padding: 2px;
	box-shadow: 4px 5px 13px 4px #af8080;
}

.backToMainList:hover{
	cursor: pointer;
	text-decoration: underline;
	background-color: #e1e3e8;
}

input.searchbutton:hover{
	cursor: pointer;
	text-decoration: underline;
	background-color: #e1e3e8;
}

/* form {
    display: inline-block;
} */


@media only screen and (max-width: 532px) {
  label,input{
		display: block;
		width: 100%;
	}
	input.searchbutton{
		width: 100%;
		display: block;
	}

	span.backToMainList{
		width: 100%;
		display: block;
	}
	.half{
		width: 30%;
	}
	.half.container {
		width: 68%;
	}
	.half>.ui.six.doubling.cards>.card{
		width: 100%;
	}
}
